.list {
  cursor: pointer;
}

.list::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.list-down::before {
  transform: rotate(90deg);
}

.nested {
  display: none;
  margin-left: 20px;
}

.active {
  display: block;
}
